header {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 70px;
  background-color: teal;
  box-shadow: 1px 3px 10px rgb(1, 71, 71);
}

header .note-logo{
    color: white;
    transform: scale(3);
    margin-left: 2em;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo span {
  font-size: 22px;
  margin-left: 20px;
  cursor: pointer;
  color: white;
}

header .title-theme span {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
  border: 1px solid #dfdfdf;
  
}


.active-btn{
    transform: scale(1.3);
    
} 

