*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.c1{
    background-color: #FFF9D0;
    transition: all 700ms;
}
.c2{
    background-color: #DED0B6;
    transition: all 700ms;
}

.c3{
    background-color: #FDEBED;
    transition: all 700ms;
}

.c4{
    background-color: #EEEEEE;
    transition: all 700ms;
}

.c5{
    background-color: #D2E9E9;
    transition: all 700ms;
}

